@import './../../../styles/custom';

:host{
  display: flex;
  grid-area: navbar;
}

.active{
  background-color: white;
}

mat-sidenav{
  padding-top: 2rem;
  width: 20vw;
}

mat-nav-list a{
  padding-left: 2rem;
}