
<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <h3>Welcome back!</h3>
  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" name="email" id="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput type="password" name="password" id="password" formControlName="password"
      [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
</form>