<!-- <h2>Login / Logout</h2>
<div class="loginButtons">
  <button class="loginBtn" [disabled]="isLoggedIn" (click)="logIn( $event )">Login</button>
  <button class="logoutBtn" [disabled]="!isLoggedIn" (click)="logOut( $event )">Logout</button>
</div>

@if (isLoggedIn) {
  <p>You are logged in</p>
} @else {
  <p>You are not logged. Log in to get full access.</p>
} -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <input type="email" name="email" id="email" formControlName="email">
  <input type="password" name="password" id="password" formControlName="password">
  <button type="submit">Login</button>
</form> -->


<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" name="email" id="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput type="password" name="password" id="password" formControlName="password"
      [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
</form>